/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.pane{
    -fx-background-color: #FBC02D;
}

.button{
    -fx-border-radius: 0 50 50 0;
    -fx-background-radius: 0 50 50 0;
    -fx-background-color: #1E88E5;
}
